**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* C:\SRC\BSM-2\SCHEMATICS\BSM-2.MAX  *
* Mon Apr 18 11:54:35 2011           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       160      453      200      100                                                                                 
T2       280      2        200      100                                                                                 
T3       310      9        200      100                                                                                 
T4       340      3        200      100                                                                                 
T5       350      1        200      100                                                                                 
T6       370      60       200      100                                                                                 
T7       390      18       200      100                                                                                 
T8       470      1        200      100                                                                                 
T9       540      3        200      100                                                                                 
T10      551      28       200      100                                                                                 
T11      630      1        200      100                                                                                 
T12      1220     5        200      100                                                                                 
T13      1470     1        200      100                                                                                 
T14      2450     2        200      100                                                                                 
